/* base html layout, keep footer on the bottom */
/* body is 100% of view port at least */
body {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* wrapper keeps 100% of body; 
   magrin-bottom is minus height of footer,
   so footer could be embedded in the bottom of body */
#wrapper {
    min-height: 100%;
    margin: 0 auto -90px;
}

/* main is the block to put body content.
   padding-bottom is set to the height of footer to avoide overlap. */
#main {
    overflow:auto;
    padding-bottom: 90px;
}

/* here comes the footer.
   margin-top is set to the minus value of footer's height. */
#footer {
    position: relative;
    height: 90px;
    margin-top: -90px;
    padding-bottom: 10px;
    clear:both;
}    


/* p3bird markdown editor
   usage:
    <div class="pb-editor">
       <textarea v-model="content"> </textarea>
       <div html="content | marked"> <div>
    <div>
*/

.pb-editor {
  margin: 0;
  padding: 0;
  width: 100%;
  resize: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pb-editor textarea,
.pb-editor div {
  position: relative;
  display: inline-block;
  width: 49%;
  height: 100%;
  border: none;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 20px;
}

.pb-editor textarea {
  border-right: 1px solid #ccc;
  resize: inherit;
  outline: none;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
}

.pb-editor div {
  overflow: scroll;
  resize: inhert;
  outline: none;
}
